html
	include includes/head.pug
	head
	body
	div.header
			div.row
				div.large-12.columns
					h2 Everyone's feelings
	div.containerpost.text-center
		br
		br
		each item in data
			ul
				if item.user	
					li #{item.user.username} Say's:
					li #{item.note}
					br
					a(href='selected-post?id=' + item.id) View Post 
		include includes/footer.pug