html
	head
	body
		h1 Everyone's Posts!!
		br
		br
		each item in data
			ul
				if item.user
					li User #{item.user.username}
					li Item: #{item.note}
					a(href='selected-post?id=' + item.id) View	
		br
		a(href='profile') Profile