html
	head
	body
		h1 Create a post!!
		br
		form(action='/upload-post' method='post' autocomplete='off')
			textarea(rows='10' name='message')
			br
			br
			input(type='submit' value='Share message' id='submit')