html
	include includes/head.pug
	head
	body
		div.header
			div.row
				div.large-12.columns
					h2.white Log-in to share your feelings
		br
		br
		form.data-abide(action='/login' method='post')
			div.row.text-center
				div.small-12-columns
					input.field(name='email' placeholder='Your emailadress' type='email' required)
					br
					br
					input.field(name='password' placeholder='Your password' type='password' required)
					br
					br
					input.button(type='submit' value='Login' id='submit')
					br
					br
					h2= message
					br
					br
					p No account yet? 
					a.button.secondary(href='register' action='/logout' method='get') Register!
		include includes/footer.pug
