html
	include includes/head.pug
	head
	body
		div.header
			div.row
				div.large-12.columns
					h2 My posts
		div.containerpost.text-center
			each item in data
				ul
					li #{item.user.username} Say's:
					li #{item.note}
		include includes/footer.pug