html
	head
	body
		h1= 'Welcome ' + userName
		br
		br
		a(href='create-post' action='/create-post' method='get') New post!
		br
		br
		a(href='my-posts' action='/my-posts' method='get') View my personal posts
		br
		br
		a(href='all-posts') View all posts
		br
		br
		a(href='search') Search
		br
		br
		a(href='logout') Logout