html
	include includes/head.pug
	head
	body
		div.header
			div.row
				div.large-12.columns
					h2 The selected Post
		div.containerpost.text-center
			each message in data
				ul
					li #{message.user.username} Said:
					li #{message.note}
					br
				form( method='post' action='/comment?id=' + message.id)
					textarea.smalltextarea(rows='2' name='comment' required)
					br
					input.button(type='submit' value='Comment' id='comment') 
					br
					br
					if message.comments
						each comment in message.comments
							ul
								li #{comment.user.username} Commented:
								li #{comment.opinion}
					else
						li No comments yet!
		br
		br
		include includes/footer.pug

		
		//- the data structure 
			data []
				messages {}
					note STR
					user {}
						username STR
					comments []
						comment {}
							opinion STR
							user {}
								username STR