html
	head
		style
			include style.css
	body
		h1 Current users:
		br
		ul
			each thing in data
				li #{thing.firstName + ' ' + thing.lastName + ' ' + thing.emailadres}
		br
		br
		a(href='addUser') Do you want to add an user?
		br
		br
		a(href='form') Search users
		br
		br
		a(href='users') Show all users in the database