footer.page-footer
	div.container
		div.row
			div.col.l6.s12
	div.footer-copyright
		div.container.center-align Copyright Text
script( src="/resources/jquery-3.1.1.min.js" )
script( src="/resources/materialize/js/materialize.min.js" )