head
	link( href="/resources/materialize/css/materialize.min.css" type="text/css" rel="stylesheet")
	link( href="/resources/style.css" type="text/css" rel="stylesheet")
body
	div.navbar-wrapper
		nav
			div.nav-wrapper
				ul#nav-mobile.right
					li
						a(href='index') Add Message
					li
						a(href='showMessages') Show Messages