html
	include includes/head.pug
	body
		br
		br
		h1 Display all the kind messages
		br
		br
		ul.resultTable
			each thing in result
				li #{thing.title}
				li #{thing.body}
				hr
		br
		br
		br
		br
		include includes/footer.pug